

/*
*******************************************
*******************************************

@File: Studyplus Theme Styles

* This file contains the styling for the actual theme, this
is the file you need to edit to change the look of the
theme.

This files contents are outlined below>>>>>

*******************************************
*******************************************

==== Studyplus Theme CSS

** - Default CSS
** - Preloader CSS
** - Header CSS
** - Mainmenu CSS
** - Background CSS
** - Slider CSS
** - About CSS
** - Video CSS
** - Contact Form CSS
** - Feature CSS
** - Course CSS
** - Counter CSS
** - Event CSS
** - Teacher CSS
** - Blog CSS
** - Testimonial CSS
** - Widget CSS
** - Breadcrumb CSS
** - Why Choose CSS
** - Client Logo CSS
** - Tab CSS
** - Progress Bar CSS
** - Footer CSS
*/


/*Default CSS*/

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
body {
	font-size: 14px;
	line-height: 26px;
	font-family: 'Lato', sans-serif;
	color: #777;
}

img {
	max-width: 100%;
}
.error{
    color: red;
}
.sale{
    width: 70px;
    height: 70px;
    background: blue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
}
.lesson-result {
position: relative;
    overflow: hidden;
}
.lesson-result img{
    width: 100%;
    height: 100%;
}
.lesson-result:before{
    content: '';
    width: 2%;
    height: 1%;
    position: absolute;
    transition: 1s;

}.lesson-result:after{
    content: '';
    width: 2%;
    height: 1%;
    position: absolute;
    transition: 1s;

}
.lesson-result:hover:before{
    content: '';
    width: 95%;
    height: 100%;
    position: absolute;
    background: rgba(254,101,0,.5);
     transition: 2s;

}.lesson-result:hover:after{
    content: '';
    width: 95%;
    height: 100%;
    position: absolute;
    background: rgba(204,101,0,.5);
     transition: 2s;
    right: 15px;
    bottom: 0;

}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 700;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
selectorSavingError {
	margin: 0;
}

p {
	margin: 0;
}
select option{
	background: black !important;
}
a:hover,
a:focus,
a:active {
	text-decoration: none;
}

.study-plus-btn {
	background: #FCC141 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 12px 30px;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
}

.pd {
	padding: 100px 0;
}

.pd-top-100 {
	padding-top: 100px;
}

.pd-bottom-70 {
	padding-bottom: 70px;
}

.pd-70 {
	padding: 70px 0;
}

.spacer-15 {
	height: 15px;
}

.read-more-btn {
	color: #fdc735;
	-webkit-transition: .3s;
	transition: .3s;
}

.read-more-btn:hover {
	color: #343434;
}

.section-title {
	color: #3e3e3e;
	font-weight: 700;
	margin: 0 0 60px;
	text-transform: uppercase;
	display: inline-block;
	position: relative;
}

.white-title {
	color: #fff;
}

.section-title:after {
	background: #fdc735 none repeat scroll 0 0;
	bottom: -20px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 20px;
}
#registerLesson{
	background: white;
}
#registerLesson input{
	border: 1px solid black;
	color: black !important;
	text-indent: 10px;

}#registerLesson input:focus{
background-color: #EBEFCA;
color: black !important;

}
#registerLesson h3, #registerLesson p{
	color: black;
}
#registerLesson input::placeholder{

	color: black!important;
	text-indent: 10px;

}
.section-title:before {
	background: #fdc735 none repeat scroll 0 0;
	bottom: -20px;
	content: "";
	height: 2px;
	left: 30px;
	margin-right: -25px;
	position: absolute;
	width: 50px;
}
#teacher img{
	height: 330px;
	object-fit: cover;
	object-position: top;
}

.overlay-black {
	position: relative;
	z-index: 1;
}

.overlay-black:after {
	background: #000 none repeat scroll 0 0;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.panel-title {
	color: #888888;
}

.panel-heading.active {
	background: #FCBF42 none repeat scroll 0 0;
}

.active .panel-title {
	color: #fefefe;
}

.panel-heading {
	padding: 12px 15px;
}

.panel.panel-default {
	border-color: #eeeeee;
}

.section-bg {
	background-color: #fcfcfc;
}

.spacer-50 {
	height: 50px;
}

.nav-control .owl-controls {
	height: auto;
	position: absolute;
	right: 14px;
	top: -89px;
	width: auto;
	background: #04ABEF;
}

.nav-control .owl-controls:after {
	border-bottom: 36px solid #04ABEF;
	border-left: 17px solid transparent;
	content: "";
	height: 0;
	left: -17px;
	position: absolute;
	top: 0;
	width: 0;
}

.nav-control .owl-nav div {
	color: #fff;
	display: inline-block;
	font-size: 17px;
	padding: 5px;
	text-align: center;
	-webkit-transition: .3s;
	transition: .3s;
}

.course-btn:hover {
	color: #fff;
}

.nav-control .owl-nav div:hover {
	color: #343434;
}

.learn-more-btn {
	color: #b7b7b7;
	font-weight: 700;
}

.learn-more-btn i.fa {
	margin-left: 5px;
}


/*Preloader CSS*/

.spinner {
	margin: 100px auto 0;
	width: 70px;
	text-align: center;
}

.spinner>div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1.0)
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

.studyplus-preloader-wrapper {

	background: linear-gradient(360deg,#FCBF42 , #04ABEF);
	height: 100%;
	position: fixed;
	width: 100%;
	z-index: 999;
}

.studyplus-preloader-wrapper .spinner {
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	position: absolute;
	top: 50%;
}


/*Header CSS*/

.header-top-nav ul li {
	display: inline-block;
	position: relative;
}

.header-top-nav li:after {
	content: "";
	font-family: fontawesome;
	font-size: 6px;
	left: -4px;
	position: absolute;
	top: 6px;
}

.header-top-nav li:first-child:after {
	content: "";
}

.header-top-nav ul li a:hover {
	color: #fdc735;
}

.header-top-nav ul li a {
	color: #777;
	display: block;
	padding: 5px 10px;
	-webkit-transition: .3s;
	transition: .3s;
}

.social-link a {
	color: #777;
	display: inline-block;
	padding: 5px 9px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.social-link a:hover {
	color: #fdc735;
}

.studyplus-contact-box {
	color: #fff;
	display: inline-block;
	margin-left: 25px;
	padding-left: 40px;
	position: relative;
}

.studyplus-contact-box:hover {
	color: #fff;
}

.study-plus-btn:hover,
.apply-form input[type="submit"]:hover {
	background: #343434 none repeat scroll 0 0;
	color: #fff;
}

.studyplus-contact-box i.fa {
	border: 1px solid #fff;
	border-radius: 50%;
	height: 30px;
	left: 0;
	line-height: 30px;
	position: absolute;
	text-align: center;
	top: 12px;
	width: 30px;
}

.header-area {
	background: #17253F none repeat scroll 0 0;
	padding: 15px 0;
}

.logo h2 {
	margin: 6px 0 0;
}


/*Mainmenu CSS*/

.mainmenu ul li.active>a {
	background: #ecb111 none repeat scroll 0 0;
	color: #fff;
}

.responsive-menu {
	display: none;
}

.mainmenu-area {
	background: #FCC141 none repeat scroll 0 0;
}

.mainmenu ul li {
	display: inline-block;
	position: relative;
}

.mainmenu ul li a {
	color: #343434;
	display: block;
	font-weight: 700;
	padding: 20px 12px;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.mainmenu ul li a:hover {
	background: #ecb111 none repeat scroll 0 0;
	color: #fff;
}

.apply-btn {
	background: #fff none repeat scroll 0 0;
	color: #343434;
	display: inline-block;
	font-weight: 700;
	padding: 20px 41px;
	text-transform: uppercase;
}

.mainmenu ul li:hover ul {
	visibility: visible;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	z-index: 99;
	top: 66px;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.mainmenu ul li ul {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 5px #ddd;
	left: 0;
	position: absolute;
	top: 100px;
	width: 200px;
	-webkit-transition: .5s ease;
	transition: .5s ease;
	visibility: hidden;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transform: scale(.5);
	transform: scale(.5);
}

.mainmenu ul li ul li {
	display: block;
}

.mainmenu ul li ul li a {
	padding: 5px 10px;
	text-transform: capitalize;
}


/*Slider CSS*/

.slider-bg-1 {
	background-image: url(../img/slider-bg-1.jpg)
}

.slider-bg-2 {
	background-image: url(../img/slider-bg-2.jpg)
}

.slider-item {
	background-position: center top;
	background-size: cover;
	height: 640px;
}

.slider-item-table {
	display: table;
	height: 100%;
	width: 100%;
}

.slider-item-tablecell {
	display: table-cell;
	vertical-align: middle;
}

.slider-text {
	color: #fff;
}

.slider-text h3 {
	font-weight: 400;
	text-transform: uppercase;
}

.slider-text h1 {
	font-size: 60px;
	font-weight: 900;
	line-height: 70px;
	margin: 25px 0;
	text-transform: uppercase;
}

.home-slider-area .owl-dots {
	bottom: 60px;
	left: 0;
	position: absolute;
	text-align: center;
	width: 100%;
}

.home-slider-area .owl-dot {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	display: inline-block;
	height: 10px;
	margin: 5px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 10px;
}

.home-slider-area .owl-dot.active {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #fdc735;
	height: 13px;
	width: 13px;
}

.slider-bg-3 {
	background-image: url(../images/bg6.jpg);
}

.slider-bg-4 {
	background-image: url(../images/bg9.jpg);
}

.slider-bg-5 {
	background-image: url(../images/bg8.jpg);
}

.slider-bg-6 {
	background-image: url(../images/bg9.jpg);
}

.home-slider-area-2 .slider-text h1 {
	color: #fdc735;
	font-size: 48px;
	font-weight: 900;
	line-height: 50px;
	margin: 6px 0;
}

.slider-text p {
	margin: 0 0 20px;
}

.home-slider-area-2 .slider-text {
	padding-top: 110px;
}

.home-slider-area-2 .owl-nav div {
	background: #fff none repeat scroll 0 0;
	color: #17253F;
	font-size: 25px;
	left: 30px;
	padding: 8px 12px;
	position: absolute;
	top: 50%;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	margin-top: -30px;
}

.home-slider-area-2 .owl-nav div.owl-next {
	left: auto;
	right: 30px;
}

.home-slider-area-2 .owl-nav div:hover {
	background: #04ABEF none repeat scroll 0 0;
	color: #fff;
	border-radius: 5px;
}


/*About CSS*/

.about-box-item p {
	margin-bottom: 15px;
}

.about-box-item img {
	margin-bottom: 15px;
}

.about-box-item h4 {
	font-weight: normal;
}

.about-box-item span {
	display: block;
	font-size: 12px;
	margin-top: 8px;
}

.author-signature img {
	margin-bottom: 0;
}


/*Video CSS*/

.video-bg {
	background-image: url("../img/video-bg.jpg");
	background-position: center top;
	background-size: cover;
	height: 270px;
	position: relative;
}

.video-bg a {
	color: #fff;
	left: 0;
	margin-top: -33px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

.video-bg i.fa {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	color: #333;
	font-size: 16px;
	height: 40px;
	line-height: 42px;
	margin-bottom: 10px;
	text-align: center;
	width: 40px;
}

.video-bg {
	font-size: 30px;
	font-weight: 300;
}

.video-text p {
	margin: 30px 0;
}


/*Contact Form CSS*/

.form-control:focus {
	border-color: #fdc735;
}

.form-control {
	border-color: #ddd;
	border-radius: 0;
	box-shadow: none;
	height: 45px;
}

.apply-form input[type="submit"] {
	background: #fdc735 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	display: block;
	font-size: 16px;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
	width: 100%;
	-webkit-transition: .3s;
	transition: .3s;
}

.apply-form {
	background: #fcfcfc none repeat scroll 0 0;
	padding: 40px;
}

.apply-form input,
.active-select {
	margin: 0 0 20px;
}

.contact-map {
	border: 1px solid #eee;
	padding: 15px;
}

.contact-number i.fa {
	color: #fdc735;
	margin-right: 8px;
}

.contact-number {
	border: 1px solid #eee;
	padding: 25px;
}

.contact-info-text h3 {
	color: #343434;
	margin: 0 0 10px;
	text-transform: uppercase;
}

.contact-info-text {
	border: 1px solid #eee;
	padding: 20px;
}

.contact-form .search-box input,
.contact-form .search-box textarea {
	border-color: currentcolor currentcolor #bfbfbf;
	color: #777777;
}

.contact-form .search-box .form-control:focus {
	border-color: #fdc735;
	box-shadow: none;
}

.contact-form {
	border: 1px solid #eee;
	padding: 50px;
	text-align: center;
}

.contact-form .search-box {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	padding: 0;
}

.contact-form .search-box .form-control::-moz-placeholder {
    color: #fff2f7bd;
    letter-spacing: .7px;
}

.contact-form input[type="submit"] {
	background: #FCC141 none repeat scroll 0 0;
	border: medium none;
	color: #343434;
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 10px 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.contact-form h4 {
	color: #343434;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
	margin-bottom: 30px;
}

.map {
	height: 480px;
}

.apply-form h4 {
	font-weight: normal;
	margin: 0 0 10px;
}

.apply-form p {
	margin: 0 0 18px;
}

.sign-up-form {
	background: #031321  none repeat scroll 0 0;
	padding: 40px;
}
.sign-up-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff2f7bd !important;
    letter-spacing: .7px;
  opacity: 1; /* Firefox */
}

.sign-up-form input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 1px solid #fff;
	margin: 0 0 20px;
	color: #fff;
}

.sign-up-form .form-control:focus {
	border-color: #fff;
	box-shadow: none;
}

.sign-up-form h2 {
	color: #fff;
	margin: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
}

.sign-up-form input[type="submit"] {
	margin: 0;
	background: #FCC141;
	border: none;
	padding: 10px 50px;
	text-transform: uppercase;
	font-weight: 700;
    transition: .3s
    letter-spacing: 5px;
}

.sign-up-form input[type="submit"]:hover {
    background: #fff none repeat scroll 0 0;
    color: #343434;
}

.search-box {
    background: rgba(3,19,33,.5) none repeat scroll 0 0;
    overflow: hidden;
    padding: 50px 40px;
    color: white;
}
.search-box p{
    color:#FE6500;

}

.search-box input,
.search-box textarea {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-color: currentcolor currentcolor #fff;
	border-style: none none solid;
	border-width: medium medium 1px;
	color: #fff;
	padding-left: 0;
}
.search-box input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff2f7bd !important;
    letter-spacing: .7px;
  opacity: 1; /* Firefox */
}
.search-box .form-control:focus {
	border-color: #fff;
	box-shadow: none;
}

.search-box .form-control::-moz-placeholder,
.sign-up-form .form-control::-moz-placeholder {
    color: #fff2f7bd !important;
    letter-spacing: .7px;
}

.search-box .nice-select {
	-moz-user-select: none;
	background-color: transparent;
	border-color: currentcolor currentcolor #fff;
	border-radius: 0;
	border-style: none none solid;
	border-width: medium medium 1px;
	padding-left: 0;
}

.search-box .nice-select:after {
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}

.search-box .current {
	color: #fff;
}

.search-box h3 {
	color: #fff;
	margin: 0 0 5px;
	text-transform: uppercase;
}

.search-box p {
	color: #fff;
	margin: 0 0 15px;
}

.search-box .nice-select .option:hover,
.search-box .nice-select .option.focus,
.search-box .nice-select .option.selected.focus {
	background-color: #333333;
}


/*Feature CSS*/

.feature-bg {
	background-image: url("../img/feature-bg.jpg");
	background-position: center top;
	background-size: cover;
}

.feature-content h4 {
	color: #343434;
	text-transform: uppercase;
}

.feature-item h4,
.feature-item p {
	color: #ddd;
}

.feature-item h4 {
	margin: 0 0 10px;
	text-transform: uppercase;
}

.feature-item i.fa {
	color: #fdc735;
	font-size: 50px;
	margin: 0 0 25px;
}

.feature-wrapper-2 .col-md-4 {
	width: 100%;
}

.feature-wrapper .col-md-3 {
	width: 100%
}

.feature-content {
	background: #fff none repeat scroll 0 0;
	padding: 15px;
}

.feature-item-2 h4 {
	margin-bottom: 10px;
}


/*Course*/

.course-bg {
	background-position: center top;
	background-size: cover;
	height: 245px;
	position: relative;
}
.register,.lessmore{
	transition: 5s;
}
.register:hover{
	background: red !important;
	border-radius: 15px;
}
.lessmore:hover{
	background: #04ABEF !important;
	color: white;
	border-radius: 15px;

}
.course-bg-1 {
	background-image: url("../images/lesson/web0.jpg");
}

.course-bg-2 {
	background-image: url("../images/lesson/JavaScript.jpg");
}

.course-bg-3 {
	background-image: url("../images/lesson/Recat.JS.jpg");
}
.course-bg-4 {
	background-image: url("../images/lesson/php.jpg");
}
.course-bg-5 {
	background-image: url("../images/lesson/poqrik_cragravorox.jpg");
}

.course-teach-img {
	bottom: -32px;
	position: absolute;
	right: 20px;
}

.course-title {
	background: rgba(0, 0, 0, 0) -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) repeat scroll 0 0;
	background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%) repeat scroll 0 0;
	bottom: 0;
	left: 0;
	padding: 10px;
	position: absolute;
	width: 100%;
}

.course-title h4 {
	color: #fff;
}

.course-title ul li {
	color: #fff;
	display: inline-block;
	font-size: 13px;
	margin-right: 20px;
}

.course-title ul li i.fa {
	font-size: 11px;
	margin-right: 5px;
}

.course-desc {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #eeeeee;
	padding: 50px 20px 20px;
}

.course-desc h4 {
	margin: 0 0 10px;
	text-transform: uppercase;
}

.course-rating li {
	color: #fdc735;
	display: inline-block;
	font-size: 12px;
}

.course-rating a {
	float: right;
	font-weight: 700;
	padding: 8px 25px;
	text-transform: uppercase;
	-webkit-transition: .3s;
	transition: .3s;
}

.course-btn {
	background: #343434 none repeat scroll 0 0;
	color: #fff;
	display: inline-block;
}

.course-rating ul {
	display: inline-block;
	margin-top: 11px;
}

.course-rating {
	margin-top: 30px;
}

li.seat {
	color: #777777;
	margin-left: 15px;
}

.seat i.fa {
	margin-right: 5px;
}

.like.fa.fa-heart {
	color: #fff;
	font-size: 15px;
	position: absolute;
	right: 20px;
	text-shadow: 0 0 7px #000;
	top: 20px;
}

.courses-box-item {
	-webkit-transition: .3s;
	transition: .3s;
}

.courses-box-item:hover {
	box-shadow: 0 0 16px #ddd;
}

.courses-box-item:hover .course-rating a {
	/*background: #fdc735 none repeat scroll 0 0;*/
}

.courses-details-area .text-box {
	border: medium none;
}

.courses-details-area .nav-control .owl-controls {
	top: -50px
}

.course-bg.course-details {
	height: auto;
}

.course-tab-list-tem li {
	display: inline-block;
}

.course-tab-list-tem li a {
	color: #343434;
	display: block;
	font-size: 17px;
	font-weight: 700;
	padding: 10px 20px;
}

.course-tab-list-tem li.active a {
	color: #FDC735;
}

.course-tab-list-tem {
	border-bottom: 2px solid #ddd;
}

.course-tab-list-tem li.active:after {
	background: #FDC735 none repeat scroll 0 0;
	bottom: -2px;
	content: "";
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
}

.course-tab-list-tem li {
	position: relative;
}

.course-tab-item .tab-content {
	border: medium none;
	padding: 10px 0;
}

.table-head {
	background: #fdc735 none repeat scroll 0 0;
	color: #343434;
	font-size: 16px;
	font-weight: 700;
}

.course-details th,
.course-details tr {
	text-align: center;
	text-transform: uppercase;
}

.table tbody th,
.table tbody tr {
	color: #777;
	font-size: 14px;
	font-weight: normal;
}

.coursetitle {
	color: #343434;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.duration i.fa {
	color: #fdc735;
	margin-right: 2px;
}

.duration {
	margin-top: 10px;
}

.what-you-will-learn ul {
	margin-top: 20px;
}

.what-you-will-learn ul li {
	color: #777777;
	display: block;
	padding: 3px 0;
}

.what-you-will-learn i.fa {
	color: #fdc735;
	margin-right: 5px;
}

.courses-list .course-desc {
	border: medium none;
	padding-left: 0;
}

.courses-list .courses-box-item {
	border: 1px solid #eee;
	padding: 20px;
}

.courses-list .course-rating {
	margin-top: 10px;
}

.courses-box-item {
	margin-bottom: 30px;
}

.courses-list .course-bg {
	height: auto;
}

.courses-wrapper .col-md-4 {
	width: 100%;
}

.course-start-timing {
	padding-top: 45px;
}

.courses-bg {
	background-image: url(../images/bg9.jpg);
}

.time {
	font-weight: 700;
	font-size: 30px;
}

.timer-item:last-child {
	border: none;
}

.timer-item {
	display: inline-block;
	color: #fff;
	border-right: 1px solid #808080;
	width: 25%;
	text-align: center;
}

.timer {
	background: #17253F none repeat scroll 0 0;
	margin: 15px 0;
	padding: 10px;
}

.course-start-text h2 {
	color: #3e3e3e;
	text-transform: uppercase;
}

.course-start-text h5 {
	font-size: 16px;
	margin: 15px 0;
	text-transform: uppercase;
}


/*Counter CSS*/

.counter-bg {
	background-image: url(../images/bg/our_danisoft_student.jpg);
	background-size: cover;
	background-position: center;
}
.blog-img img{
	width: 357px;
	height: 245px;
	object-fit: cover;
}
.single-logo-item img{
	width: 113px;
	height: 90px;
	object-fit: contain;
}
.testimonial-author img{
	border-radius: 50%;
	overflow: hidden;
	width: 300px;
	height: 300px;
	object-fit: contain;
	object-position: right;
}
.counter-item i.fa {
	color: #fdc735;
	display: block;
	font-size: 45px;
}

.counter-item {
	color: #fff;
	height: 215px;
	margin: 0 auto;
	padding-top: 50px;
	position: relative;
	width: 215px;
	z-index: 1;
}

.counter-item span {
	display: block;
	font-size: 30px;
	font-weight: 700;
	margin: 20px 0 10px;
}

.counter-item.overlay-black:after {
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.counter-item:after {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0.2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.counter-area.overlay-black:after {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


/*Event CSS*/

.event-bg-1 {
	background-image: url(../img/event-bg.jpg);
}

.event-bg-2 {
	background-image: url(../img/event-bg-2.jpg);
}

.event-bg-3 {
	background-image: url(../img/event-bg-3.jpg);
}

.event-bg-4 {
	background-image: url(../img/event-img-2.jpg);
}

.event-bg {
	background-position: center center;
	background-size: cover;
	height: 250px;
	position: relative;
}

.event-date {
	background: #fdc735 none repeat scroll 0 0;
	bottom: 0;
	color: #fff;
	display: block;
	font-size: 19px;
	left: 0;
	padding: 9px 15px;
	position: absolute;
}

.event-list .event-bg {
	height: 320px;
}

.text-box ul {
	float: right;
}

.text-box li {
	display: inline-block;
	font-size: 14px;
	text-transform: none;
	font-weight: 400;
}

.text-box h4 {
	color: #3e3e3e;
	font-size: 16px;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.text-box i.fa {
	color: #fdc735;
	padding: 0 3px;
}

.text-box {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: #eeeeee #eeeeee #fdc735;
	-o-border-image: none;
	border-image: none;
	border-style: solid;
	border-width: 1px 1px 3px;
	padding: 40px 20px;
}

.event-location li a {
	color: #777777;
	margin-right: 20px;
}

ul.event-share {
	float: none;
	margin-top: 20px;
}

.speaker-title {
	color: #343434;
	margin: 0 0 15px;
	text-transform: uppercase;
}


/*Teacher CSS*/

.lecturer-desc {
	background: #04ABEF none repeat scroll 0 0;
	color: #fff;
	padding: 10px 0;
	text-align: center;
}

.lecturer-desc span {
	display: block;
	font-size: 14px;
	font-weight: 400;
	margin-top: 8px;
}

.lecturera-bg {
	background-image: url(../img/lecturer-img-bg.jpg);
	background-size: cover;
	background-position: center;
}

.teacher-img img {
	border: 2px solid #fdc735;
}

.teacher-link {
	border: 2px solid #fdc735;
	margin-top: 15px;
	text-align: center;
}

.teacher-link a {
	background: #dddddd none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	line-height: 39px;
	margin: 7px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 40px;
}

.teacher-link a:hover {
	background: #fdc735 none repeat scroll 0 0;
	color: #343434;
}

.single-lecturer-img {
	position: relative;
}

.lecturer-overlay {
	background: #04ABEF none repeat scroll 0 0;
	bottom: 150px;
	color: #fff;
	left: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	padding: 10px;
	position: absolute;
	text-align: center;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	width: 100%;
}

.lecturer-socila-profile a {
	background: #fff none repeat scroll 0 0;
	border-radius: 50%;
	color: #fdc735;
	display: inline-block;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 40px;
}

.lecturer-socila-profile a:hover {
	background: #343434 none repeat scroll 0 0;
	color: #fff;
}

.single-lecturer-item:hover .lecturer-overlay {
	bottom: 0;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
}

.single-lecturer-item {
	margin-bottom: 30px;
	overflow: hidden;
}

.teacher-skill h3 {
	color: #343434;
	margin: 0 0 15px;
	text-transform: uppercase;
}

.lecturera-area.overlay-black:after {
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}


/*Blog CSS*/

.blog-img {
	position: relative;
}

.blog-date {
	background: #04ABEF none repeat scroll 0 0;
	bottom: 15px;
	color: #343434;
	font-size: 20px;
	font-weight: 700;
	left: 15px;
	line-height: 20px;
	padding: 8px 20px;
	position: absolute;
}

.blog-date span {
	color: #fff;
	display: block;
	font-size: 14px;
	font-weight: 400;
}

.blog-item-box ul {
	float: none;
	margin-top: 10px;
}

.blog-item-box .text-box {
	border-bottom: 1px solid #eee;
}

.blog-details-top {
	padding-left: 65px;
	position: relative;
}

.blog-details-date {
	left: 0;
	position: absolute;
	top: 0;
}

.date {
	background: #fdc735 none repeat scroll 0 0;
	color: #343434;
	font-weight: 700;
	padding: 5px;
}

.month {
	background: #222 none repeat scroll 0 0;
	color: #fff;
}

.blog-details-date p {
	padding: 2px 15px;
	text-align: center;
}

.blog-details-top h4 {
	color: #343434;
	margin: 0 0 9px;
	text-transform: uppercase;
}

.blog-details-top li {
	display: inline-block;
}

.blog-details-top ul li a {
	color: #666666;
	padding-right: 20px;
}

.blog-details-img {
	margin-bottom: 30px;
}

.blog-details-top {
	margin-bottom: 30px;
}

.blog-details-content blockquote {
	font-style: italic;
	margin-top: 20px;
}

.comment {
	margin-top: 30px;
}

.comment-item {
	margin-bottom: 30px;
	padding-left: 74px;
	position: relative;
}

.comment-item img {
	left: 0;
	position: absolute;
	top: 0;
}

.comment-item h4 {
	color: #343434;
	text-transform: uppercase;
}

.comment-item span {
	color: #777;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 7px;
	margin-top: 7px;
}

.comment h3 {
	color: #343434;
	margin-bottom: 25px;
}

.blog-item-box {
	margin-bottom: 30px;
}


/*Testimonial CSS*/

.single-testimonial p {
	padding-left: 30px;
	position: relative;
}

.single-testimonial i.fa {
	color: #fdc735;
	font-size: 24px;
	left: 0;
	position: absolute;
	top: 0;
}

.testimonial-chooce-area {
	background: #f8f8f8 none repeat scroll 0 0;
}

.single-testimonial {
	background: #fff none repeat scroll 0 0;
	padding: 30px 20px;
	position: relative;
}

.testimonial-author {
	margin-left: 25px;
	margin-top: 30px;
}

.testimonial-author span {
	color: #999999;
	display: block;
	font-size: 12px;
	font-weight: normal;
	margin-top: 5px;
}

.testimonial-author h4 {
	color: #343434;
	text-transform: uppercase;
}

.single-testimonial:after {
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 15px solid #fff;
	bottom: -15px;
	content: "";
	left: 45px;
	position: absolute;
}

.testimonial-author img {
	float: left;
	height: 60px;
	margin-right: 15px;
	width: 60px !important;
}


/*Widget CSS*/

.widget-title {
	background: #fdc735 none repeat scroll 0 0;
	color: #343434;
	margin-bottom: 20px;
	padding: 8px 15px;
}

.widget ul li a {
	color: #777;
	display: block;
	padding: 4px 0;
}

.widget a span {
	float: right;
}

.widget ul li a i.fa {
	margin-right: 2px;
}

.widget {
	margin-bottom: 50px;
}

.recent-news {
	margin-bottom: 30px;
	padding-left: 95px;
	position: relative;
}

.recent-news img {
	left: 0;
	position: absolute;
	top: 0;
}

.recent-news:last-child {
	margin-bottom: 0;
}

.recent-news p {
	color: #343434;
	font-weight: 700;
}

.widget.widget-tag a {
	border: 1px solid #eee;
	border-radius: 3px;
	color: #777777;
	display: inline-block;
	margin-bottom: 10px;
	margin-right: 10px;
	padding: 10px 15px;
	-webkit-transition: .3s;
	transition: .3s;
}

.widget.widget-tag a:hover {
	color: #FDC735;
	border-color: #FDC735;
}

.search-widget {
	border: 1px solid #dddd;
	float: right;
}

.search-widget input {
	border: medium none;
	padding: 6px 15px;
}

.search-widget button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 6px 12px;
}


/*Breadcrumb CSS*/

.breadcrumb-bg {
	background-image: url(../img/breadcrumb.jpg);
	background-size: cover;
	background-position: center bottom;
}

.breadcrumb-area h2 {
	color: #fff;
	margin: 0 0 10px;
	text-transform: uppercase;
}

.breadcrumb-area ul li {
	color: #fdc735;
	display: inline-block;
}

.saparator {
	color: #fff;
	padding: 0 8px;
}

.breadcrumb-area ul li a {
	color: #fff;
}

.breadcrumb-area.overlay-black:after {
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}


/*Why Choose CSS*/

.why-choose-single-item {
	margin-bottom: 50px;
	padding-left: 80px;
	position: relative;
}

.why-choose-single-item i.fa {
	background: #04ABEF none repeat scroll 0 0;
	color: #fff;
	font-size: 30px;
	height: 60px;
	left: 0;
	line-height: 57px;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 60px;
}

.why-choose-single-item:last-child {
	margin-bottom: 0;
}

.why-choose-single-item h4 {
	margin: 0 0 10px;
	text-transform: uppercase;
	color: #343434;
}

.why-choose-content {
	padding-left: 285px;
	position: relative;
}

.why-choose-content img {
	left: 0;
	position: absolute;
	top: 0;
}
.aboutOur img{
	height: 180px;
}

/*Client Logo CSS*/

.our-client-logo-area {
	background: #fcfcfc none repeat scroll 0 0;
}

.single-logo-item {
	background: #fff none repeat scroll 0 0;
	box-shadow: 0 0 8px #ddd;
	padding: 18px;
	text-align: center;
}

.single-logo-item img {
	height: 70px;
}


/*Tab CSS*/

.tab-item-list li {
	background: #04BBEF none repeat scroll 0 0;
	display: inline-block;
}

.tab-item-list li a {
	color: #fff;
	display: block;
	font-size: 15px;
	font-weight: 700;
	padding: 10px 25px;
	text-transform: uppercase;
}

.tab-item-list i.fa {
	font-size: 20px;
	margin-right: 5px;
	text-align: center;
}

.tab-item-list {
	margin-bottom: 40px;
	text-align: center;
}

.tab-item-list li.active a {
	background: #C19233;
}

.tab-content.tab-content {
	border: medium none;
}


/*Progress Bar CSS*/

.progress-single-item {
	text-align: center;
}

.progress-single-item h5 {
	color: #343434;
	margin-top: 15px;
	text-transform: uppercase;
}

.skill-progress {
	margin-top: 15px;
}


/*Footer CSS*/

.footer-widget.contact-info ul li a:hover {
	color: #fdc735
}

.footer-bg {
	background-image: url(../img/footer-bg.jpg)
}

.footer-bg.overlay-black:after {
	opacity: 0.9;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}

.footer-title {
	color: #eeeeee;
	margin: 0 0 30px;
	text-transform: uppercase;
}

.footer-logo img {
	margin: 0 0 30px;
}

.footer-logo p {
	color: #dddddd;
	margin: 0 0 30px;
}

.mail-subs h4 {
	color: #eeeeee;
	font-size: 15px;
	margin: 0 0 15px;
}

.footer-mail input {
	border: medium none;
	padding: 8px 12px;
}

.footer-mail {
	background: #fff none repeat scroll 0 0;
}

.footer-mail button {
	background: #fdc735 none repeat scroll 0 0;
	border: medium none;
	color: #fff;
	float: right;
	font-size: 20px;
	padding: 8px 15px;
}

.footer-widget.contact-wedget i.fa {
	background: #fdc735 none repeat scroll 0 0;
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 40px;
	margin: auto;
	padding-top: 12px;
	width: 40px;
}

.footer-widget.contact-wedget {
	text-align: center;
}

.footer-widget.contact-wedget a {
	color: #dddddd;
	display: block;
}

.footer-widget.contact-wedget li {
	margin: 0 0 15px;
}

.footer-widget.contact-wedget li:last-child {
	margin: 0;
}

.footer-widget.contact-info ul li a {
	color: #ddd;
	display: block;
	padding: 4px 0;
	text-transform: uppercase;
}

.footer-widget.contact-info i.fa {
	margin-right: 6px;
}

.footer-widget.intagram-wedget li {
	display: inline-block;
	margin: 0 0 3px;
}

.widget.search-widget {
	float: none;
}

.widget.search-widget button {
	float: right;
}

.footer-bottom {
    background: #17253F none repeat scroll 0 0;
    padding: 10px;
}
.footer-bottom p {
    color: #eeeeee;
    margin-top: 6px;
}
.scroll-top {
    background: #04ABEF none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 40px;
    cursor: pointer;
}

/*button 1*/

.mybtn{
	position: relative;
	display: inline-block;
	padding: 10px 15px;
	color: #2196f3;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 15px;
	overflow: hidden;
	transition: 0.2s;
	box-shadow: 0 0 1.1px #2196f3, 0 0 1.4px #2196f3, 0 0 1.8px #2196f3;
}

.mybtn:hover{
	color: #fff;
	background: #2196f3;
	box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
	transition-delay: 1s;
	border-radius: 15px;
}
.mybtn span{
	position: absolute;
	display: block;
}
.mybtn span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 5px;
	background: linear-gradient(90deg, transparent, #2196f3);
}
.mybtn:hover span:nth-child(1){

	left: 100%;
	transition: 1s;
}
.mybtn span:nth-child(2){
top: -100%;
right: -0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #2196f3);
}
.mybtn:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
.mybtn span:nth-child(3){
	bottom:  0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #2196f3);
}
.mybtn:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.mybtn span:nth-child(3){
	bottom:  0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, #2196f3);
}
.mybtn:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
.mybtn span:nth-child(4){
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #2196f3);
}
.mybtn:hover span:nth-child(4){
	bottom:  100%;
	transition: 1s;
	transition-delay: 0.75s;
}
/*button 2*/
.btn-Register{
width: 100%;
height: 50px;
display: flex;

align-items: center;
}
.mybtn-two{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px 15px;
	color: #1670f0;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	font-size: 20px;
	box-shadow:0 20px 50px rgba(0,0,0,.5);
	overflow: hidden;
}
.mybtn-two:before{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: 50%;
	background: rgba(255,255,255,0.05);
}
.mybtn-two span:nth-child(1){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to right, #0c002b, #1779ff);
	animation:anim1 2s linear infinite;
}
@keyframes anim1{
	0%{
		transform: translateX(-100%);;
	}
	100%{
		transform: translateX(100%);;
	}
}

.mybtn-two span:nth-child(2){
	position: absolute;
	top: 0;
	right:  0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to right, #0c002b, #1779ff);
		animation:anim2 2s linear infinite;
		animation-delay: 1s;
}
@keyframes anim2{
	0%{
		transform: translateY(-100%);;
	}
	100%{
		transform: translateY(100%);;
	}
}

.mybtn-two span:nth-child(3){
	position: absolute;
	bottom:  0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(to left, #0c002b, #1779ff);
		animation:anim3 2s linear infinite;
}
@keyframes anim3{
	0%{
		transform: translateX(100%);;
	}
	100%{
		transform: translateX(-100%);;
	}
}
.mybtn-two span:nth-child(4){
	position: absolute;
	bottom:  0;
	left:  0;
	width: 2px;
	height: 100%;
	background: linear-gradient(to top, #0c002b, #1779ff);
	animation:anim4 2s linear infinite;
	animation-delay: 1s;
}
@keyframes anim4{
	0%{
		transform: translateY(100%);;
	}
	100%{
		transform: translateY(-100%);;
	}
}
.btnreg{

	display: grid;
	grid-template-columns: auto 30% auto;
	justify-content: space-between;
	overflow: hidden;
	height: 50px;
	align-items: center;
}
.btnreg div{
	width: 80%;

}
.btnreg div a{
	padding: 8px 10px;
	font-size: 10px;
	white-space: nowrap;

		transform: translate(-0%, -0%);
}
/*pordz*/
/***

====================================================================
	Appointment Section
====================================================================

***/

.appointment-section{
	position:relative;
	padding: 70px 0px 0 0;
	font-size: 16px;
    letter-spacing: 0.8px;
    font-weight: 500;

}

.appointment-section .pattern-layer{
	position: absolute;
	left: 0;
	top: 50%;

	width: 220px;
	height: 480px;
	background: url('../images/icons/pattern-1.png') right center no-repeat;
}

.appointment-section .sec-title{
	max-width: 480px;
}

.appointment-section .sec-title .lower-text{
	color: #222222;
	padding: 10px;
}

.appointment-section .text-column{
	position: relative;
	margin-bottom: 20px;
}

.appointment-section .text-column .inner{
	position: relative;
	display: block;
	padding-right: 50px;
}

.service-block-two{
	position: relative;
	padding: 15px 0;
}

.service-block-two .inner-box{
	position: relative;
	display: block;
	/*padding: 8px 0px 0px 125px;*/
	min-height: 101px;
}

.service-block-two h3{
	position: relative;
	color: #222222;
	text-transform: capitalize;
	margin: 0 0 10px;
	text-align: left;
}

.service-block-two h3 a{
	color: #222222;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.service-block-two h3 a:hover{
	color: #f74883;
}

.service-block-two .icon-outer{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 101px;
	height: 101px;
	padding: 20px;
	margin: 0 0;
}

.service-block-two .icon-bg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background:#ffffff url('../images/icons/theme-icon-3.png') center center no-repeat;
}

.service-block-two .icon-outer .icon-box{
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.service-block-two .icon-outer .icon-box img{
	max-width: 60px;
	max-height: 60px;
}

.service-block-two .text{
	position: relative;
	display: block;
	color: #222222;
	text-align: left;
}
.service-block-two ul li{
	text-align: left;
}
.service-block-two p{
	text-align: left;
}
.appointment-section .form-column{
	position: relative;
	margin-bottom: 50px;
}

.appointment-section .form-column .inner{
	position: relative;
	display: block;
	text-align: center;
}

.appointment-section .form-column .image{
	position: relative;
	display: block;
	margin: 0;
}

.appointment-section .form-column .image img{
	position: relative;
	display: block;
	width: 100%;
}

/* Default Form Style */

.default-form{
 	position: relative;
}

.default-form .row{
	margin: 0 -15px;
}

.default-form .form-group{
	position:relative;
	padding: 0 15px;
	margin-bottom: 25px;
}

.default-form .form-group .field-label{
	position:relative;
	display: block;
	color: #333333;
	line-height: 24px;
	text-align: left;
	text-transform: capitalize;
	margin-bottom: 10px;
}

.default-form .form-group:last-child{
	margin-bottom: 0;
}

.default-form .form-group input[type="text"],
.default-form .form-group input[type="email"],
.default-form .form-group input[type="password"],
.default-form .form-group input[type="tel"],
.default-form .form-group input[type="url"],
.default-form .form-group input[type="file"],
.default-form .form-group input[type="number"],
.default-form .form-group textarea,
.default-form .form-group select{
	position: relative;
    display: block;
    height: 52px;
    width: 100%;
    font-size: 15px;
    color: #25283a;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #ffffff;
    border: 1px solid #e2eef2;
	border-radius:0px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.default-form .form-group textarea{
	height: 120px;
	padding-top: 12px;
	resize: none;
}

.contact-form .form-group input[type="submit"],
.contact-form .form-group button{
	display:inline-block;
	margin-top:5px;
}

.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="password"]:focus,
.default-form .form-group input[type="tel"]:focus,
.default-form .form-group input[type="url"]:focus,
.default-form .form-group input[type="file"]:focus,
.default-form .form-group input[type="number"]:focus,
.default-form .form-group textarea:focus,
.default-form .form-group select:focus,
.form-group .ui-selectmenu-button.ui-button:focus,
.form-group .ui-selectmenu-button.ui-button:active{
	border-color: #f74883;
}

.default-form ::-webkit-input-placeholder{
    color: #fff2f7bd !important;
    letter-spacing: .7px;
}

.default-form ::-moz-input-placeholder{
    color: #fff2f7bd !important;
    letter-spacing: .7px;
}

.default-form ::-ms-input-placeholder{
    color: #fff2f7bd !important;
    letter-spacing: .7px;
}

.default-form label.error{
	color: #ff0000;
	font-size:14px;
	text-transform: capitalize;
	text-align:left;
	display:block;
	padding-top:5px;
}

.content-box .default-form label.error{
	color: #ffffff;
	font-size: 16px;
	padding-top: 10px;
}

/*Custom Select*/

.form-group .ui-selectmenu-button.ui-button{
	width:100%;
	font-size:15px;
	font-style:normal;
	height:52px;
	padding:10px 20px;
	line-height:30px;
	font-family: 'Arimo', sans-serif;
	color:#222222;
	border-radius:0px;
	background-color:#ffffff;
	border: 1px solid #e0e0e0;
}

.form-group .ui-button .ui-icon{
	background:none;
	position:relative;
	top:3px;
	text-indent:0px;
	color:#333333;
}

.form-group .ui-button .ui-icon:before{
	font-family: 'Font Awesome 5 Free';
	content: "\f107";
	position:absolute;
	right:0px;
	top:2px !important;
	top:13px;
	width:10px;
	height:20px;
	display:block;
	color:#666666;
	line-height:20px;
	font-size:16px;
	font-weight:700;
	text-align:center;
	z-index:5;
}

.ui-widget.ui-widget-content{
	border:1px solid #e0e0e0;
	font-family: 'Arimo', sans-serif;
}

.ui-menu .ui-menu-item{
	font-size:14px;
	border-bottom:1px solid #e0e0e0;
}

.ui-menu .ui-menu-item:last-child{
	border:none;
}

.ui-menu .ui-menu-item-wrapper{
	position:relative;
	display:block;
	padding:9px 20px !important;
	font-size:15px;
	line-height:24px;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    transition: all 300ms ease;
}

.ui-menu .ui-menu-item-wrapper:hover,
.ui-menu .ui-menu-item-wrapper.ui-state-active{
	background: #f74883;
}

.appointment-section .form-box{
	position: relative;
	display: block;
	background: #edf5f8 url(../images/icons/round-pattern-1.png) 60px -350px no-repeat;
	padding: 50px 45px;
}

.appointment-section .title{
	position: relative;
	margin-bottom: 30px;
}

.appointment-section .title h3{
	position: relative;
	display: inline-block;
	line-height: 1.2em;
	font-size: 24px;
	color: #222222;
	text-transform: capitalize;
	font-weight: 700;
	margin: 0 0 10px;
}

.appointment-section .title h3:before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 3px;
	width: 100%;
	border-bottom: 2px solid #f74883;
}

.appointment-form .row{
	margin: 0 -7px;
}

.appointment-form .form-group{
	padding: 0 7px;
	margin-bottom: 14px;
}

.appointment-form form button{
	text-transform: none ;
	margin-top: 5px;
}

/***


/***

====================================================================
	appointment Section
====================================================================

***/
.reg-lessons {
    width: 100%;
    box-sizing: border-box;
    padding: 100px 0;
    background-color: #FAFAFF;
}
#priceList h2{
	color: #FCBF42;
}
/*#priceList h6{
text-align: left;
}*/

.reg-lessons-item {
    background-color: #fff;
    box-sizing: border-box;
    padding: 50px 20px 40px;
    width: 98%;
    margin: 0 auto 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .04);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: 300ms;
}

.reg-lessons-item:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .08);
}

.reg-lessons-item-name {
    color: #444;
}

.reg-lessons-item-price {
    color: #1dabf2;
}

.reg-lessons-item-terms {
    color: #666;
}

.reg-lessons-item > hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
}

.reg-lessons-item > ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.reg-lessons-item > ul > li {
      text-align: center;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.h-m-header-name{
    font-size: 35px;
    font-weight: 600;
    color: #444;
    margin: 0 0 40px;
    letter-spacing: 3px;
    text-align: center;
        color: #FCBF42;
}
.h-m-header-name + hr{
	width: 30%;
 border: 1px solid #04ABEF;
}
.h-m-second-name {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FCBF42;
    margin-bottom: 50px;
}

/*/*************************/
.inner-box li {

	list-style: disc;


}
